{% extends 'website/base.html' %}

{% block body %}

    <div class="row">
        <div class="col-xs-12 bg z-depth-4">
            <h2>Anonimowość ankiet</h2>
            <hr>
            <p>Aplikacja Sententia została stworzona jako projekt do mojej pracy licencjackiej "System do ankietowania studentów" (pod opieką Pana dr Olafa Bara) i jego głównym założeniem jest <strong>pełna anonimowość</strong>.</p>
            <p>Żadne dane użytkownika nie są zapisywane poza wyborami w formularzu ankiety. Żaden adres IP, system użytkownika, lokalizacja czy choćby przeglądarka jakiej używasz nie jest zapisywana dzięki czemu nie da się powiązać Ciebie z wynikami.</p>
            <p>W przypadku ankiety zabezpieczonej tokenem (link wtedy składa się z dwóch kodów, np "/ankieta/AbC/FhA/") także zapewniana jest pełną anonimowość. Token dostępu służy do ograniczenia liczby głosów oraz upewnienia się że jedna osoba wypełnia ankietę tylko raz.
                Z jednego tokenu można wypełnić ankietę tylko raz a zapiyswane odpowiedzi zawierają inny token, osoba która stworzyła ankietę widzi tylko czy z danego tokenu został oddany głos.</p>
            <p>Jeżeli nadal masz wątpliwości czy wypełniasz ankietę anonimowo zapraszam do zapoznania się z: </p>
            <p>Pracą licencjacką w bibliotece, temat: "System do ankietowania studentów", numer albumu: 114947</p>
            <p>Kod źródłowy: <a href="https://github.com/kamilgregorczyk/sententia">https://github.com/kamilgregorczyk/sententia</a></p>

            <p class="text-right">Kamil Gregorczyk <br>
                <small class="text-right">Student Informatyki na Wydziale Matematyczno Fizyczno Technicznym</small>
            </p>

            <small>Oczywiście jeżeli w ankiecie pojawi się pytanie typu "Jak masz na imię?" to traci ona swoją anonimowość :)</small>
        </div>
    </div>
{% endblock %}