{% extends 'website/base.html' %}
{% load staticfiles %}
{% block body_block %}
    <div class="flex-center">
        <div class="error">
            <div class="flex-center">
                <img src="{% static 'website/img/logo.svg' %}" alt="Sententia">
                <h2 class="text-center">Sententia</h2>
            </div>
            <hr>
            <h3 class="text-center" style="font-size:50px;"><strong>{% block code %}{% endblock %}</strong></h3>
            <h4 class="text-center">{% block msg %}Wystąpił nieznany błąd{% endblock %}</h4>
        </div>
    </div>
{% endblock %}
